*{
  margin: auto;
  padding: 0;
}
  
body{
  background-color: #e07afa;
  padding: 20px;
  width: 100vh;
  max-width: 500px;
}
  
h1 {
  margin-left: 5px;
}
  
form{
  font-family: Georgia;
  font-size: 16px;
  display: block;
  margin-left: 5px;
  padding-top: 12px;
}
  
div {
  padding-bottom: 5px;
  padding-top: 3px;
}
  
p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 17px;
}
  
input, select, textarea{
  background-color: #bfdbfe;
}

input{
    padding: 5px;
}

label{
    padding: 2px;
    padding-top: 2px;
}
  
button {
  padding: 5px;
  background-color: lightblue;
}
  