body { /*This is the background image of the menu*/
 background-image: url("https://cdn.pixabay.com/photo/2016/02/11/14/59/background-1193727_640.png");
 background-size: cover;
 background-position: center;
 padding: 20px;
 height: 100%;
}

.menu{ /*This is the menu's background*/
    width: 80%;
    background-color: lightyellow;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 550px;
    border: 8px dotted rgb(0, 126, 19);
    border-radius: 5%;
}

h1{ /*Format for main heading*/
 font-family: "Concert One", serif;
 font-size: 40px;
 margin-top: 0;
 margin-bottom: 15px;
}

h2 { /*Format for sub-heading*/
    font-family: "Concert One", serif;
    font-size: 30px;
}

.established {
    font-style: italic;
    font-weight: bold;
}

h1, h2, p { /*Aligns all text to be in the center*/
    text-align: center;
}

hr { /*Makes the bar green*/
    height: 3px;
    background-color: rgb(0, 126, 19);
    border-color: rgb(0, 126, 19);
}

img { /*Formats image to be in the center*/
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: -25px;
 width: 45px; /*Changes image size to be small*/
}

.item p { /*Gives space to the items*/
 display: inline-block;
 margin-top: 5px;
 margin-bottom: 5px;

}

.dish, .desserts, .drinks { /*Formats the item names*/
    text-align: left;
    width: 75%;
    font-family: "Concert One", sans-serif;
    color: green; /*To match the background*/
    font-size: 21px;
}

.price{ /*Formats the price listing*/
    text-align: right;
    width: 25%;
    font-family: "Concert One", sans-serif;
    color: rgb(211, 200, 2); /*To match the background*/
    font-size: 20px;
}